/* ants list */
.ants.figure .ants.list {
  display: flex;
	flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

/* ant item */
.ants.figure .ants.list .ant.item {
  position: relative;
  flex: 1;
  margin-top: 6em;
  margin-bottom: 6em;
  padding: 0;
  text-align: left;
}

.ants.figure .ants.list .ant.item:nth-child(even) {
  text-align: right;
}

.ants.figure .ants.list .ant.item:first-child {
  margin-top: 3em;
}

/* ant item psuedo-elements (slanted divs) */
.ants.figure .ants.list .ant.item::before,
.ants.figure .ants.list .ant.item:last-child::after  {
  content: '';
  position: absolute;
  top: -50%;
  left: -25%;
  pointer-events: none;
  z-index: 1;
  width: 150%;
  height: 40%;
  transform: rotate(5deg);
  transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: .15em solid transparent;
  background-color: #343434;
}

.ants.figure .ants.list .ant.item:first-child::before {
  top: -50%;
  height: 50%;
  box-shadow: 0 -1em 0 0.25em rgba(253, 64, 0, 0.9);
  border-top: 2em solid rgba(6, 7, 2, 0.95);
  background-color: #fff;
  transform: rotate(3.5deg);
}

.ants.figure .ants.list .ant.item:nth-child(even)::before {
  top: -15%;
  transform: rotate(-5deg);
}

.ants.figure .ants.list .ant.item:nth-child(2)::before {
  height: 14%;
  box-shadow: 0 -0.35em 0 1.25em rgba(5, 5, 3, 0.9);
  border-top: 1.25em solid rgba(253, 64, 0, 0.8);
  border-bottom: 0.5em solid rgba(253, 64, 0, 0.95);
  background-color: rgba(5, 5, 3, 0.95);
}

.ants.figure .ants.list .ant.item:nth-child(3)::before {
  top: -60%;
  height: 16%;
  transform: rotate(6deg);
  box-shadow: 0 0.5em 0 1.75em rgba(5, 5, 3, 0.85);
  border-top: 0.75em solid rgba(253, 64, 0, 0.75);
  border-bottom: 1.5em solid rgba(253, 64, 0, 0.8);
  background-color: rgba(5, 5, 3, 0.9);
}

.ants.figure .ants.list .ant.item:nth-child(4)::before {
  top: -10%;
  height: 12%;
  transform: rotate(-5.5deg);
  box-shadow: 0 -0.25em 0 1.75em rgba(53, 53, 53, 0.95);
  border-top: 0.5em solid rgba(253, 64, 0, 0.95);
  border-bottom: 1em solid rgba(253, 64, 0, 0.75);
  background-color: rgba(52, 52, 52, 0.9);
}

.ants.figure .ants.list .ant.item:nth-child(5)::before {
  height: 14%;
  box-shadow: 0 -0.25em 0 1.75em rgba(53, 53, 53, 0.9);
  border-top: 0.75em solid rgba(253, 64, 0, 0.8);
  border-bottom: 1.25em solid rgba(253, 64, 0, 0.85);
  background-color: rgba(52, 52, 52, 0.85);
}

.ants.figure .ants.list .ant.item:last-child::after {
  top: auto;
  bottom: -60%;
  height: 45%;
  box-shadow: 0 0.5em 0 0.5em rgba(253, 64, 0, 0.9);
  border-bottom: 1.5em solid rgba(53, 53, 53, 0.9);
  background-color: #fff;
  transform: rotate(-2.5deg);
}

.ants.figure .ants.list .ant.item .caption {
  position: relative;
  min-height: 45vh;
}

@media only screen and (min-width: 75em) {
  .ants.figure .ants.list .ant.item .caption {
    min-height: 65vh;
  }
}

/* ant item title */
.ants.figure .ants.list .ant.item .title {
  max-width: 12em;
  margin-right: auto;
  margin-left: 0;
  color: #050503;
  letter-spacing: 0.05em;
  z-index: 2;
  transition: all 500ms;
}

.ants.figure .ants.list .ant.item:hover .title {
  color: #FC4000;
}

@media only screen and (min-width: 48em) {
  .ants.figure .ants.list .ant.item .title {
    font-size: 2em;
  }
}

@media only screen and (min-width: 75em) {
  .ants.figure .ants.list .ant.item .title {
    margin-top: 4em;
  }

  .ants.figure .ants.list .ant.item:last-child .title {
    margin-top: 6em;
  }
}

.ants.figure .ants.list .ant.item:nth-child(even) .title  {
  margin-right: 0;
  margin-left: auto;
}

/* ant item list */
.ants.figure .ants.list .ant.item .list {
  display: inline-block;
  margin-left: 1.25em;
  padding: 0;
  color: #343434;
  text-align: left;
  list-style: none;
  transition: all 500ms;
}

.ants.figure .ants.list .ant.item:hover .list {
  color: #050503;
}

@media only screen and (min-width: 48em) {
  .ants.figure .ants.list .ant.item .list {
    font-size: 1.15em;
  }
}

.ants.figure .ants.list .ant.item .list .item::before {
  content: '\25AA';
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  color: #050503;
  transition: all 500ms;
}

.ants.figure .ants.list .ant.item:hover .list .item::before {
  color: #FC4000;
}

/* ant item image */
.ants.figure .ants.list .ant.item .image {
  position: absolute;
  right: -15%;
  left: auto;
  bottom: 0;
  z-index: -1;
  filter: grayscale(100%);
  transition: all 500ms;
}

.ants.figure .ants.list .ant.item:hover .image {
  filter: grayscale(0);
}

.ants.figure .ants.list .ant.item:nth-child(even) .image {
  right: auto;
  left: -15%;
}

@media only screen and (min-width: 30em) {
  .ants.figure .ants.list .ant.item .image {
    width: 85%
  }
}

@media only screen and (min-width: 48em) {
  .ants.figure .ants.list .ant.item .image {
    width: 75%
  }
}

@media only screen and (min-width: 75em) {
  .ants.figure .ants.list .ant.item .image {
    right: -35%;
    bottom: 20%;
    width: 100%
  }

  .ants.figure .ants.list .ant.item:nth-child(even) .image {
    left: -35%;
    right: auto;
  }

  .ants.figure .ants.list .ant.item:last-child .image {
    bottom: 0;
  }
}

/* ants cta */
.ants.figure .cta {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 1em;
  z-index: 1;
}
